.avatar img {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



.theme1 #root, html, body, 
.theme1 body,
.theme1 *,
.theme1 html,
.theme1 body, html,
.theme1 h1,
.theme1 .container,
.theme1 .content{

    height: 100vh;

    margin: 0;
    background-color: whitesmoke;

    box-sizing: border-box;

    scroll-behavior: smooth;

	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);


	font-size: 24px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;


	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}



.theme2 html,
.theme2 #stars,
.theme2 #stars::after,
.theme2 #stars2,
.theme2 #stars2::after,
.theme2 #stars3,
.theme2 #stars3::after
{

        height: 100%;
        background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
        overflow: hidden;
   
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 0px 0px #FFF, 500px 500px #FFF, 1000px 1000px #FFF; /* Add more values as needed */
        animation: animStar 50s linear infinite;
     
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 0px 0px #FFF, 500px 500px #FFF, 1000px 1000px #FFF; /* Add more values as needed */
      

        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 0px 0px #FFF, 500px 500px #FFF, 1000px 1000px #FFF; /* Add more values as needed */
        animation: animStar 100s linear infinite;
     
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 0px 0px #FFF, 500px 500px #FFF, 1000px 1000px #FFF; /* Add more values as needed */
      
    
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 0px 0px #FFF, 500px 500px #FFF, 1000px 1000px #FFF; /* Add more values as needed */
        animation: animStar 150s linear infinite;
    
      
       
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 0px 0px #FFF, 500px 500px #FFF, 1000px 1000px #FFF; /* Add more values as needed */
}
      
      @keyframes animStar {
        from {
          transform: translateY(0px);
        }
        to {
          transform: translateY(-2000px);
        }
      }
      


  
  

