
.theme1 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
button.logout{
	position: absolute;
	bottom: 10px;
	left: 10px;
}

.theme1 .avatar img {
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}


@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



.theme1 #root, html, body{
  height: 100vh;

    margin: 0;
    background-color: whitesmoke;

    box-sizing: border-box;

    scroll-behavior: smooth;

	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}

.theme1 h1{
  
    font-size: 24px;
    margin: 10px 0 0 0;
    font-weight: lighter;
    text-transform: uppercase;
    color: #eeeeee;
  
}
.theme1 .container{
  width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.theme1 .content{

	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}

.name-btn {
    font-size: 20px; 
    background: linear-gradient(to right, #36d1dc, #5b86e5);  /* Gradient effect */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 20%;
    transform: translateX(-50%);
  }
  
  .name-btn:hover {
    background: linear-gradient(to left, #36d1dc, #5b86e5); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }

  .logout {
    background-color: purple; 
    color: white; 
    border: none; 
	border-radius: 2px;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.logout:hover {
    background-color: blue; 
}

  


