@function multiple-box-shadow($n) {
    $value: '#{random(2000)}px #{random(2000)}px #FFF';
    
    @for $i from 2 through $n {
      $value: '#{$value}, #{random(2000)}px #{random(2000)}px #FFF';
    }
  
    @return unquote($value);
  }
  
  $shadows-small: multiple-box-shadow(700);
  $shadows-medium: multiple-box-shadow(200);
  $shadows-big: multiple-box-shadow(100);
  
  .theme2  {
    background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
    overflow: hidden;
    min-height: 100vh;
    position: relative;
  }

  .theme2 button.logout{
    position: absolute;
    top: 614px;
    left: 49px;
    background-color: rgb(107, 0, 128); 
    color: white; 
    border: none; 
	border-radius: 2px;
    padding: 18px 15px 18px 15px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
    z-index: 9999;
}
  
  
.logout:hover {
    background-color: rgb(106, 0, 255); 
}

  

  .theme2 button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

  .theme2 .avatar img {
	display: none;
}
      
  .theme2 #stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    
    animation: animStar 50s linear infinite;
    
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: $shadows-small;
    }
  }
      
  .theme2  #stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
    animation: animStar 100s linear infinite;
    
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: $shadows-medium;
    }
  }
      
  .theme2  #stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
    animation: animStar 150s linear infinite;
    
    &:after {
      content: " ";
      position: absolute;
      top: 2000px;
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: $shadows-big;
    }
  }
      
  @keyframes animStar {
    from {
      transform: translateY(0px);
    }
    
    to {
      transform: translateY(-2000px);
    }
  }
  
  .name-btn {
    font-size: 20px; 
    background: linear-gradient(to right, #36d1dc, #5b86e5);  /* Gradient effect */
    border: none;
    border-radius: 25px;
    padding: 10px 20px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .name-btn:hover {
    background: linear-gradient(to left, #36d1dc, #5b86e5);  /* Gradient effect when hovered */
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  }
  


  
  

